@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';

body {
//  width: 970px;
//  max-width: none !important;
  min-width: 1000px;
}

.container {
  width: 970px;
  max-width: none !important;
  min-width: 1000px;
}

.navbar-right {
  display: none;
}

/* Setting the modal dialog box with a higher index than the modal backdrop. */
.modal-dialog {
  z-index: 1050;
}

.modal-backdrop {
  z-index: 1040;
}

.glyphicon-remove {
  visibility: visible !important;
}

.toggle_bookmark {
  display: none;
}

.input-group-addon {
  display: none;
}

.pagination {
  display: none;
}
